*{
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 480px){
    .firstimage{
        max-height: 300px;
        min-height: 300px;
    }
}
 @media screen and (max-width:180px){
       body{
           font-size: 10px;
       }
        }     
    
body{
    background-color:rgb(57, 59, 57);
    font-family: 'Josefin Slab', serif;
    color: white;
    margin: 5%;
    font-size: 20px;
}
[class*=col]{
    padding: 0;
  }
header, footer{
    padding: 5%;
    border: 1px solid rgb(238, 6, 6);
    border-style: dotted;
    border-width: 0.1rem;
    margin-top: 2%;
    margin-bottom: 2%;
}

.name{
    margin-bottom: 6%;
    }

.headerh1{
    text-align: left;
    text-transform: capitalize;
    text-decoration-line: underline;
}
a{
    text-align: right;
    color: white;
}

.firstimage{
    max-width: 300px;
    max-height: 300px;
    align-items: center;
    margin: 4%;
}

.col-6{
    text-align: right;
}

.floatleft{
    float: left;
    width: 50%;
}